<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
  </head>
  <body>
    <form action="/login/submit" method="post">
      <p>
        <label for="username">Username: </label>
        <input
          type="text"
          name="username"
          id="username"
          required
          minlength="1"
          maxlength="30"
        />
      </p>

      <p>
        <label for="password">Password: </label>
        <input
          type="password"
          name="password"
          id="password"
          required
          minlength="1"
          maxlength="30"
        />
      </p>

      <p>
        <button type="submit">Log in</button>
      </p>
    </form>
    <a href="/">Home</a>
    <a href="/signup">Sign up</a>
    <%if(locals.errorMessages){%> <%for(let element in errorMessages){%>
    <p><%=errorMessages[element].msg%></p>
    <%}%> <%}%>
  </body>
</html>
