<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
  </head>
  <body>
    <form action="/sign-up/submit">
      <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
      </p>

      <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
      </p>

      <p>
        <label for="member">Member</label>
        <input type="checkbox" id="member" name="member" />
      </p>

      <p>
        <label for="admin">Admin</label>
        <input type="checkbox" id="admin" name="admin" />
      </p>

      <p><button type="submit">Sign up</button></p>
    </form>
    <a href="/log-in">Log in</a>
    <a href="/">Home</a>
  </body>
</html>
